<div>
  <video #video autoplay></video>
  <canvas #canvas [width]="video.videoWidth" [height]="video.videoHeight"></canvas>
  <button (click)="changeCamera(device)" *ngFor="let device of videoDevices">
    {{ device.label || 'Camera ' + (device.deviceId || '') }}
  </button>
  <button (click)="capture()">Capture</button>
  <div *ngFor="let capture of captures">
    <img [src]="capture" alt="Captured Document">
  </div>
</div>


  <div>
    <h2>Results:</h2>
    <p>Source Text: {{ sourceText }}</p>
    <p>Category: {{ category }}</p>
    <p>Tags: {{ tags.join(', ') }}</p>
    <pre>{{ videoDevices | json }}</pre>
  </div>
  